.container 
  .notification-card.mt-5
    %h2.notification.text-center 通知
    .notification-destroy-btn
      = link_to notification_path(@notifications), data: { confirm: "【確認】メッセージをすべて削除してもよろしいですか？" }, method: :delete do
        %i.fa.fa-trash-o.message-destroy-btn.mb-3.fw-bold
          すべて削除
    -if @notifications.exists?
      = render @notifications
    - else
      %p.text-center 通知はありません
  
  = render 'commons/newpostbtns'

%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri

          