.container 
  .notification-card.mt-4 
    %h2.notification.text-center 通知
    = link_to notification_path(@notifications), data: { confirm: "【確認】メッセージをすべて削除してもよろしいですか？" }, method: :delete do
      %i.fa.fa-trash-o.destroy-btn.mb-3.fw-bold
        すべて削除
    -if @notifications.exists?
      = render @notifications
    - else
      %p.text-center 通知はありません