.container 
  .message-list.mt-5
    .message-card
      .messsage-room-title.text-center メッセージ一覧
      = render @rooms
    -# - @rooms.each do |room|
    -#   .message-list-card 
    -#     = link_to room_path(room) do
    -#       .message-card  
    -#         %p= open_user(room)
    -#         %p= new_message_preview(room)
        