.container 
  .message-list.mt-5
    .message-card
      .messsage-room-title.text-center メッセージ一覧
      = render @rooms
    
  = render 'commons/newpostbtns'
        
= render 'commons/footer'
          
