.container 
  .message-list.mt-5
    .message-card
      .messsage-room-title.text-center メッセージ一覧
      = render @rooms
    
  = render 'commons/newpostbtns'
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri
          
