.container
  .message-card 
    .div#chat_area
      = render "chat_area"
    .div#chat_form
      = render "chat_form"

  = render 'commons/newpostbtns'
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri