.container
  .message-card 
    .div#chat_area
      = render "chat_area"
    .div#chat_form
      = render "chat_form"

  = link_to new_post_path do
    .float_btn
      %i.fa-2x.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        
%footer.footer.mt-5
  .container
    %p.text-muted.text-center ©︎ Copyright 2021 MuscleNutri