.container
  #search-box
    = form_tag('/', method: :get) do
      = text_field_tag :good, "",  id: "good_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"
      %button{title: "検索", type: "submit"} 検索
  %h2 検索結果
  #good_list
    -# = render partial: 'good_list'
