@import 'card';
@import 'flash';
@import "profile";
@import "button";
@import "post";
@import "review";
@import "users";
@import "tag";
@import "search";

  body {
    background: #f2f2f2;
  }

  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  .footer {
    background-color: skyblue;
    padding: 20px 0;
    
    p {
      margin-bottom: 0;
    }
  }

  .float_btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    text-align: center;
    background-color: skyblue;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
    i {
      margin-top: 18px;
      margin-left: 5px;
    }
  }

  input[type="text"]:focus {
    border: 2px solid skyblue;
    outline: 0;
  }

  input[type="number"]:focus {
    border: 2px solid skyblue;
    outline: 0;
  }

  textarea:focus {
    border: 2px solid skyblue;
    outline: 0;
  }

  .no-underline{
    text-decoration: none !important;
  }

  .hidden {
    display: none;
  }