@import 'card';
@import 'flash';
@import "profile";
@import "button";
@import "post";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

  body {
    background: #f2f2f2;
  }

  .container {
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  .footer {
    background-color: skyblue;
    padding: 20px 0;
    
    p {
      margin-bottom: 0;
    }
  }