@import 'card';
@import 'flash';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "profile";
@import "button";

body {
    // padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }