.login-btn {
    width: 300px;
    height: 40px;
    background-color: #ff60af;
    color: white;
    border: #ff60af;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn2 {
    width: 300px;
    height: 40px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.login-btn3 {
    width: 300px;
    height: 40px;
    color: white;
    border: none;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    background: skyblue;
    color: #ffffff;
    line-height: 2.3em; 
    text-decoration: none;
    cursor: pointer;
}

.newPost-login-btn {
    width: 200px;
    height: 40px;
    background-color: #ff60af;
    color: white;
    border: #ff60af;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.review-btn {
    width: 40%;
    height: 50px;
    background-color: #ff60af;
    color: white;
    border: #ff60af;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000;
}

.review-button2 {
    width: 40%;
    height: 50px;
    background-color: rgb(231, 62, 62);
    color: white;
    border: #ff60af;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000;
}

.follow-btn {
    width: 90px;
    height: 35px;
    // background-color: skyblue;
    border: 1px solid ;
    padding-top: 8px;
    border-radius: 20px;
    color: skyblue;
    cursor: pointer;
    font-size: 12px;
    margin: 0 auto;
}

.unfollow-btn {
    width: 90px;
    height: 35px;
    background-color: skyblue;
    padding-top: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 11px;
    margin: 0 auto;
}