.post-container-image {
    width: 100%;
    margin: 0 0 20px 0;
    max-height: 550px;
    object-fit: cover;
    object-position: center;
}

.post-discription {
    color: gray;
}

.card-body {
    width: 100%;
    padding: 1.25rem;
    padding: 24px;
    box-shadow: 0px 0px 8px #000;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;

    img {
        object-fit: cover;
        margin-bottom: 20px;
    }
}

.post-title {
    color: gray;
    margin-bottom: 10px;
}

.post-card-body {
    width: 90%;
    padding: 1.25rem;
    padding: 24px;
    box-shadow: 0px 0px 8px #000;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;


    img {
        object-fit: cover;
        margin-bottom: 20px;
    }
}

.post-new-container{
    width: 70%;
    padding: 24px;
    box-shadow: 0px 0px 8px #000;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}