.profile-card-body {
    padding: 24px;
    box-shadow: 0px 0px 8px #000;
    // height: 620px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 600px;
    // max-height: 700px;
    margin-bottom: 60px;
}

.profile-image {
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    max-width: 100%;
    min-width: 150px;
}

.profilePage_user_have {
    display: flex;
    margin-left: 189px;
    // text-align: center;
}

.line {
    margin: 0 1rem;
    width: 1px;
    height: 28px;
    background-color: #000;
}

.profilePage_user_have_item {
    margin-left: 20px;
}

.count {
    margin-right: 8px;
}

.introduction {
    color: gray;
}

.avatar-field {
    // display: none;
}

.avatar-btn {
    margin: 22px auto;
    padding: 10px;
    border-radius: 4px;
    max-width: 140px;
    border: 1px solid skyblue;
    display: block;
    color: skyblue;
    cursor: pointer;
    transition: all .2s;
    height: 40px;
    

    p {
        margin-top: -2px;
    }
}

.avatar-btn:hover {
    color: #fafafa;
    background: skyblue;
}

.nickname-text {
    color: gray;
}

.nickname-field {
    margin-left: 3rem;
    width: 90%;
    width: calc(80% - 3rem);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
    margin: 0 0 8px 0;
    min-height: 30px;
    outline: none;
    transition: all .3s;
    // width: 50%;
    // padding: .5rem .75rem;
    // border-width: 1px;
    // --border-opacity: 1;
    // border-color: #e2e8f0;
    // border-color: rgba(226,232,240,var(--border-opacity));
    // border-radius: .375rem;
}

.introduction-text {
    color: gray;
    // margin-left: -350px;
}

.introduction-field {
    margin-left: 3rem;
    width: 90%;
    width: calc(80% - 3rem);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
    margin: 0 0 8px 0;
    min-height: 30px;
    outline: none;
    transition: all .3s;
    // width: 50%;
    // padding: .5rem .75rem;
    // border-width: 1px;
    // --border-opacity: 1;
    // border-color: #e2e8f0;
    // border-color: rgba(226,232,240,var(--border-opacity));
    // border-radius: .375rem;

    textarea {
        line-height: normal;
        overflow-y: hidden;
        padding: .8rem 0 .8rem 0;
        resize: none;
        min-height: 3rem;
        box-sizing: border-box;
    }
}

