.userlist-card {
    width: 90%;
    padding: 1.25rem;
    padding: 24px;
    box-shadow: 0px 0px 8px #000;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.userlist-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}


.no-underline {
  text-decoration: none !important;
  color: black;
}

.no-underline:hover {
    color: black;
}

ul {
    list-style: none;
  }

.users-list-item {
    display: flex;
}

.search-field {
    width: 80%;
    height: 40px;
}

.search-btn {
    width: 70px;
    height: 40px;
    border-radius: 20px;
    background-color: pink;
    color: white;
}

.tabs {
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding-left: 0;
  
    &_item {
      padding: 16px 0px;
      background-color: white;
      width: 60%;
      text-align: center;
      cursor: pointer;
  
      a {
        display: block;
      }
  
      &.active {
        background-color: skyblue;
        color: white;
  
        a{
          color: white;
        }
      }
  
      &:hover {
        opacity: 0.9;
      }
    }
}
  
//   ul.panel-group li {
//     list-style: none;
//     font-size: 14px;
//     padding: 7px 10px;
//     line-height: 1.4;
//     color: #fff;
//     min-height: 150px;
//     display: none;
//   }
  
//   ul.panel-group li.is-show {
//     display: block;
//   }

// .tab-group{
//     display: flex;
//     justify-content: center;
//   }

//   .tab{
//     flex-grow: 1;
//     padding:5px;
//     list-style:none;
//     border:solid 1px #CCC;
//     text-align:center;
//     cursor:pointer;
//   }

//   .panel-group{
//     height:100px;
//     border:solid 1px #CCC;
//     border-top:none;
//     background:#eee;
//   }

.panel {
  display:none;
}

.active {
  background:#F00;
  color:#FFF;
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display:block;
}